
.card {
    width: 60%;
    margin: auto;
    border: 1px solid var(--box);
    padding: 10px;
}

.profile-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 90px;
    height: 90px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.primary {
    background: #3b5bdb;
    color: white;
}

.danger {
    background: white;
    color: red;
    border: 1px solid red;
}

.note {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.link {
    color: #3b5bdb;
    font-size: 14px;
    margin-bottom: 5px;
    text-decoration: none;
}

.submit {
    margin-top: 20px;
    padding: 12px;
    background: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.main h2{
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}
.hamburger {
    display: none;
}

.profile-header{
    display: none;
}

@media (max-width:768px) {
    header {
        display: flex;
        flex-direction: row;
        background-color: var(--primary);
    }

    .profile {
        display: none;
    }
    .header-left {
        display: none;
    }

    .header-right{
        display: none;
    }

    .profile-header{
        display: flex;
        color: white;
        font-family: 'montserrat',sans-serif;
    }

    .hamburger {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
        color: white;
    position: relative;
    z-index: 1001;
}
      
     .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%; 
    height: 100vh;
    background: white;
    z-index: 1000;
    transform: translateX(-100%);
    transition: 0.3s;
}


      .navbar.show {
          transform: translateX(0);
      }

      .card {
        width: 80%;
      }
    }