* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary : #2948FF;
    --navbar-text : rgba(79, 86, 101, 1);
    --box: rgba(232, 232, 232, 1);
    --secondary : #396AFC;
    --white : rgb(255,255,255,1);
    --gradient : linear-gradient(to bottom,var(var(--primary)),var(var(--secondary)));
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat bold';
    src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


header {
    width: auto;
    position: relative;
    z-index: 10;
    height: 50px;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between;
    padding-inline: 4%;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(232, 232, 232, 1);
}

.header-left p {
    color: var(--primary);
    font: 20px;
    padding-top: 6px;
    padding-left: 10px;
}

.header-left {
    font-family: 'Nunitosans';
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 28px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'montserrat';
    font-size: 14px;
}

.header-right img {
    width: 35px;
}

.header-right select {
    border: none;
    background-color: white;
    color: var(--navbar-text);
}



main {
    font-family: 'Montserrat';
}

.navbar {
    position: relative;
    padding-top: 1%;
    width: 200px;
    height: calc(100vh - 50px);
    box-shadow: 1px 1px 1px rgba(232, 232, 232, 1);
    justify-content: center;
    padding-inline: 35px;
    padding-top: 20px;
    float: inline-start;
}

.navbar a{
    text-decoration: none;
    color: rgba(79, 86, 101, 1);
}

.navbar img {
    color: var(--navbar-text);
    width: 20px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav li a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-inline: 15px;
    height: 40px;
    font-size: 13px;
    width: 130px;
}

nav li {
    list-style: none;
}

nav li a:hover{
    background-color: #2948FF;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 15px;
    height: 40px;
    img {
        filter: contrast(1) invert(1) brightness(1);
    }
}

/* MAIN */


.card {
    width: 60%;
    margin: auto;
    border: 1px solid var(--box);
    padding: 10px;
}

/* PROFILE */
.profile-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 90px;
    height: 90px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.primary {
    background: #3b5bdb;
    color: white;
}

.danger {
    background: white;
    color: red;
    border: 1px solid red;
}

.note {
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.link {
    color: #3b5bdb;
    font-size: 14px;
    margin-bottom: 5px;
    text-decoration: none;
}

.submit {
    margin-top: 20px;
    padding: 12px;
    background: #3b5bdb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.main h2{
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}

