* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary : #2948FF;
    --navbar-text : rgba(79, 86, 101, 1);
    --box: rgba(232, 232, 232, 1);
    --secondary : #396AFC;
    --white : rgb(255,255,255,1);
    --gradient : linear-gradient(to bottom,var(var(--primary)),var(var(--secondary)));
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat bold';
    src: url('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


header {
    width: auto;
    height: 50px;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between;
    padding-inline: 4%;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(232, 232, 232, 1);
}

.header-left p {
    color: var(--primary);
    font: 20px;
    padding-top: 6px;
    padding-left: 10px;
}

.header-left {
    font-family: 'Nunitosans';
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 28px;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'montserrat';
    font-size: 14px;
}

.header-right img {
    width: 35px;
}

.header-right select {
    border: none;
    background-color: white;
    color: var(--navbar-text);
}



main {
    height: calc(100vh - 50px);
    font-family: 'Montserrat';
}



.navbar {
    padding-top: 1%;
    width: 200px;
    height: calc(100vh - 50px);
    box-shadow: 1px 1px 1px rgba(232, 232, 232, 1);
    justify-content: center;
    padding-inline: 35px;
    padding-top: 20px;
    float: inline-start;
}

.navbar a{
    text-decoration: none;
    color: rgba(79, 86, 101, 1);
}

.navbar img {
    color: var(--navbar-text);
    width: 20px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

nav li a{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-inline: 15px;
    height: 40px;
    font-size: 13px;
    width: 130px;
}

nav li {
    list-style: none;
}

nav li a:hover{
    background-color: #2948FF;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 15px;
    height: 40px;
    img {
        filter: contrast(1) invert(1) brightness(1);
    }
}

.money {
    width: 70%;
    margin-bottom: 10px;
}

.transfer-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 15px;
    padding-left: 30px;
    width: 300px;
    align-items: center;
    img {
        filter: invert(23%) sepia(100%) saturate(8000%) hue-rotate(200deg) brightness(150%) contrast(105%)
    }
}

.transfer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 11px;
}

.information {
    padding: 10px;
    margin-left: 220px;
    border: 1px solid var(--box);
    width: 75%;
    h4{
        font-size: 13px;
    }
    p {
        font-size: 11px;
    }
}

.user {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width: 95%;
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid var(--box);
    background-color: rgba(232, 232, 232, 0.3);
    padding-inline: 20px;
    p{
        font-size: 12px;
    }
    h4{
        margin-bottom: 2px;
        font-size: 11px;
    }
    
}

.star {
    width: 20px;
}

.detail {
    display: flex;
    flex-direction: row;
    width: 400px;
    gap: 10px;
    h4{
        font-size: 13px;
    }
    p {
        font-size: 11px;
    }
    
}

.input-warp {
    margin-top: 10px;
    height: 30px;
    width: 95%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--box);
    border-radius: 5px;
    padding: 1px;
    height: 40px;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 12px;
    gap: 5px;
    img {
        width: 20px;
    }
}

.input-warp input{
    border: none;
    outline: none;
    flex: 1;
    width: 90%;
}

.input-warp:has(input:focus) {
    border: 2px solid var(--primary);
}

.name img {
    height: 12px;
}

.notes {
    margin-bottom: 10px;
}

textarea {
    border: 1px solid var(--box);
    border-radius: 5px;
    width: 95%;
    height: 140px;
}

.information button {
    width: 95%;
    border: none;
    background-color: #2948FF;
    height: 40px;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
}
